# excluimos archivos sin extension
*
!/**/
!*.*

# directorios
/.vscode
/testing
/input

# particulares
*.o
*.zip
*.txt
*.drawio

# cpplint
cpplint.py
execute.sh
filter_options

# template
template.cpp
template.h